@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #5a3c77;
}

h1{
  padding-bottom: 30px;
  font-family: 'Share Tech', Sans-Serif;
  color: antiquewhite;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Share Tech', sans-serif;
  color: rgba(250, 235, 215, 0.5);
}

.input-user, .input-password, .input-re-password{
  position: relative;
}

#email, #password, #re-password{
  padding: 10px;
  border-radius: 5px;
  font: inherit;
  background-color: transparent;
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  color: antiquewhite;
}

.input-label{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 25px);
  transition: transform .25s;
  font-size: 16px;
}

#email:focus+.input-label, #password:focus+.input-label, #re-password:focus+.input-label, #email:valid+.input-label, #password:valid+.input-label, #re-password:valid+.input-label{
  transform: translate(10px) scale(.8);
  padding-inline: 5px;
  background-color: transparent;
}

#email:is(:focus, :valid), #password:is(:focus, :valid), #re-password:is(:focus, :valid){
  outline-color: transparent;
}

.box {
  width: 500px;
  height: 700px;
  background: #815b91;
  box-shadow: 0 0 30px black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-user, .input-password, .input-re-password{
  padding: 8px;
}

.submit{
padding: 23px;
}

.login{
  width: 85px;
  height: 50px;
  padding: 15px;
  background-color: #591f6b;
  color: antiquewhite;
  border-radius: 25px;
  border: transparent;
  font-family: 'Share Tech Mono', monospace;
}

.cadastro, .submit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.criar-conta{
  text-decoration: none;
  color: antiquewhite;
  padding: 10px;
  margin-bottom: auto;
  font-size: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
  border-radius: 15px;
}

a{
  text-decoration: none;
  color: antiquewhite;
  padding: 10px;
  margin-bottom: auto;
  font-size: 16px;
}

.facebook, .google{
  display: flex;
  padding: 10px;
  width: 180px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.facebook{
  display: inline-block;
  background-color: #2c39ab;
  color: antiquewhite;
  font-family: 'Share Tech Mono', monospace;
  border: transparent;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

.google{
  display: inline-block;
  background: #b12a2a;
  color: antiquewhite;
  border: transparent;
  font-family: 'Share Tech Mono', monospace;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
}

p{
  font-size: 16px;
  padding: 8px;
}

li{
  list-style: none;
  padding: 5px;
}

.list{
  padding: 18px;
}